# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# React
client/build/
client/node_modules/

# Python (if using Python backend)
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
server/env/
server/venv/

# Mac system files
.DS_Store

# Logs
logs/
*.log

# Environment variables
.env
server/.env
client/.env

# Misc
.idea/
.vscode/